<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cesar's Creatures @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="col-3">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/cesars-icon.png" style="width:40%; height:40%;" class="img-thumbnail shadow"/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="col-9">
                    <div class="navbar-nav row align-content-center">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <form class="input-group" method="post">
                                    <input type="text" class="form-control" placeholder="Search for Products" id="SearchString" name="SearchString">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="javascript: var url = '/Products?SearchString=' + document.getElementById('SearchString').value; window.location.href = url;" >Search</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <partial class="navbar" name="_LoginPartial" />
                    </div>

                    <div class="navbar-nav row">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Guide">Tips N' Tricks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Adopt-a-pet!</a>
                            </li>
                        </ul>
                        <partial name="_ShoppingPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>



    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container ">
            &copy; 2021 - Cesar's Creatures - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")

    @RenderSection("Scripts", required: false)
</body>
</html>
