@using Microsoft.AspNetCore.Identity
@using SSD_Assignment_1.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .dropbtn {
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-left: 10em;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 10em;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") ||
  SignInManager.IsSignedIn(User) && User.IsInRole("Product manager") ||
  SignInManager.IsSignedIn(User) && User.IsInRole("Public Relation") ||
  SignInManager.IsSignedIn(User) && User.IsInRole("Business Owner"))
{
    <div class="dropdown p-3">
        <a class="dropbtn" asp-page="/Admin/Index"><span>For Admins Only</span></a>
        <div class="dropdown-content">
            <a class="nav-link" asp-area="" asp-page="/Admin/Products/Index">Manage Products</a>
            <a class="nav-link" asp-area="" asp-page="/Admin/Roles/Index">Manage Roles</a>
            <a class="nav-link" asp-area="" asp-page="/Admin/Audits/Index">Logs</a>
            <a class="nav-link" asp-area="" asp-page="/Admin/Orders/Index">Orders</a>
            <hr />
        </div>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Cart/Index"><img src="~/images/shopping-cart.png" /></a>
        </li>
    </ul>
}
else if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Cart/Index"><img src="~/images/shopping-cart.png" /></a>
        </li>
    </ul>
}
else if (!SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><img src="~/images/shopping-cart.png" /></a>
        </li>
    </ul>
}




