@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}



<div class="text-center">
    <h1 class="display-4">
        𝓒𝓮𝓼𝓪𝓻'𝓼 𝓒𝓻𝓮𝓪𝓽𝓾𝓻𝓮𝓼 | (Ｕ◕ฺ㉨◕ฺ)
    </h1>
    <p>Home for the pets</p>
</div>
<div class="container" style="background-color:lightblue" class="shadow border">
    <hr style="padding:20px 20px 20px 20px;" />

    <div class="row">
        <div class="col-3">
            <img src="~/images/puppy.jpg" style="height:275px;width:275px" />
        </div>
        <div class="col-9">
                <h1>Heyo! I'm Isha Jethmal</h1>
            <ul>
                <li>Worked on Registration and Authentication</li>
                <li>Setup Third Party Exteral Logins and MFA</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3">
            <img src="~/images/cat.jpg" style="height:275px;width:275px" />

        </div>
        <div class="col-9">
            <h1>Heya! I'm Dashini Naidu</h1>
            <ul>
                <li>Worked on Session cookie management</li>
                <li>Implemented Auditing Features</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3">
            <img src="~/images/guinea.jpg" style="height:275px;width:275px" />

        </div>
        <div class="col-9">
            <h1>Hey! I'm Clement Neo🐹</h1>
            <ul>
                <li>Setup CRUD interfaces</li>
                <li>Built the Checkout workflow</li>
                <li>Supplier of Hamster pictures</li>
            </ul>
        </div>
    </div>



</div>





