@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cesar's Creatures</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <p>Home for the pets</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="~/images/puppy.jpg" alt="#" /><br /><a class="btn btn-primary btn-group-lg" asp-page="Privacy">
                <i class="fas fa-user">Click here</i>
            </a>
        </div>

        <div class="col-sm-4">
            <img class="img-fluid" src="~/images/hampter.jpeg" alt="#" /><br /><a class="btn btn-primary btn-group-lg" asp-page="Privacy">
                <i class="fas fa-user">Click here</i>
            </a>
        </div>

        <div class="col-sm-4">
            <img class="img-fluid" src="~/images/puppy.jpg" alt="#" /><br /><a class="btn btn-primary btn-group-lg" asp-page="Privacy">
                <i class="fas fa-user">Click here</i>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="~/images/puppy.jpg" alt="#" /><br /><a class="btn btn-primary btn-group-lg" asp-page="Privacy">
                <i class="fas fa-user">Click here</i>
            </a>
        </div>

        <div class="col-sm-4">
            <img class="img-fluid" src="~/images/puppy.jpg" alt="#" /><br /><a class="btn btn-primary btn-group-lg" asp-page="Privacy">
                <i class="fas fa-user">Click here</i>
            </a>
        </div>

        <div class="col-sm-4">
            <img class="img-fluid" src="~/images/puppy.jpg" alt="#" /><br /><a class="btn btn-primary btn-group-lg" asp-page="Privacy">
                <i class="fas fa-user">Click here</i>
            </a>
        </div>
    </div>
</div>