@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cesar's Creatures</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <p>Home for the pets</p>
</div>

<div class="text-md-center">
    <!-- <img src="~/images/pet.gif" onclick="clickMe()" /> -->
    <!-- Code to add image is commented above -->
    <a class="btn btn-primary btn-group-lg" asp-page="Privacy"><i class="fas fa-user"></i>Click me to learn ways to take care of me</a>
    <a class="btn btn-primary btn-group-lg" asp-page="Privacy"><i class="fas fa-user"></i>Click me to learn ways to take care of me</a>
    <a class="btn btn-primary btn-group-lg" asp-page="Privacy"><i class="fas fa-user"></i>Click me to learn ways to take care of me</a><br />
    <a class="btn btn-primary btn-group-lg" asp-page="Privacy"><i class="fas fa-user"></i>Click me to learn ways to take care of me</a>
    <a class="btn btn-primary btn-group-lg" asp-page="Privacy"><i class="fas fa-user"></i>Click me to learn ways to take care of me</a>
    <a class="btn btn-primary btn-group-lg" asp-page="Privacy"><i class="fas fa-user"></i>Click me to learn ways to take care of me</a>
</div>
