@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<html>
<body>
    <h2>Privacy Statement (For General Public)</h2>
    <div>
        <p>Your Personal Data is important to us. The purpose of this document (&quot;<b>Privacy Statement</b>&quot;) is to inform you of how Cesar's Creatures manages Personal Data (as defined below) which is subject to the Singapore Personal Data Protection Act (No. 26 of 2012) (&quot;<b>the Act</b>&quot;). Please take a moment to read this Privacy Statement so that you know and understand the purposes for which we collect, use and disclose your Personal Data.</p>

        <p>This Privacy Statement supplements but does not supersede nor replace any other consents you may have previously provided to Cesar's Creatures in respect of your Personal Data, and your consents herein are cumulative and additional to any rights which any of the Companies may have at law to collect, use or disclose your Personal Data.</p>


        <p>Cesar's Creature may from time to time update this Privacy Statement to ensure that this Privacy Statement is consistent with our future developments, industry trends and/or any changes in legal or regulatory requirements. Subject to your rights at law, you agree to be bound by the prevailing terms of this Privacy Statement as updated from time to time on our website.Please check back regularly for updated information on the handling of your Personal Data.</p>

        <p><b>1.  Personal Data</b></p>

        <p>In this Privacy Statement, &quot;<b>Personal Data</b>&quot; refers to any data, whether true or not, about an individual who can be identified (a) from that data; or (b) from that data and other information to which the organisation has or is likely to have access, including data in our records as may be updated from time to time.</p>

        <p>Examples of such Personal Data you may provide to us include (depending on the nature of your interaction with us) your name, mobile number ,  or other identification number, telephone number(s), email address, transactional data and any other information relating to any individuals which you have provided us in any forms you may have submitted to us, (including in the form of biometric data), or via other forms of interaction with you.</p>

        <p><b>2.  Collection of Personal Data</b></p>

        <p>2.1  Generally, we collect Personal Data in the following ways:</p>

        <ol type="a">
            <li>when you submit any form, including but not limited to application, declaration, proposal or referral forms;</li>
            <li>when you enter into any agreement or provide other documentation or information in respect of your interactions and transactions with us, or when you use our services;</li>
            <li>when you interact with our staff, including customer service officers, relationship managers and other representatives, for e.g. via telephone calls (which may be recorded), letters, fax, face-to-face meetings, digital platforms (including social media) and email;</li>
            <li>when you use some of our services provided through online and other technology platforms, eg. websites and apps including when you establish any online accounts with us;</li>
            <li>when you use our electronic services, or interact with us via our websites or use services on our websites;</li>
            <li>when a policyholder takes up an insurance policy for your benefit or appoints you as the life assured;</li>
            <li>when you request that we contact you, be included in an email or other mailing list; or when you respond to our request for additional Personal Data, our promotions and other initiatives;</li>
            <li>when you are contacted by, and respond to, our marketing representatives and agents and other service providers;</li>
            <li>when you submit an employment application or when you provide documents or information including your resume and/or curriculum vitae in connection with any appointment as an officer, director, representative or any other position;</li>
            <li>when we receive references from business partners and third parties, for example, where you have been referred by them;</li>
            <li>when your images are captured by us via CCTV cameras while you are within our premises, or via photographs or videos taken by us or our representatives when you attend events hosted by us;</li>
            <li>when we seek or receive information about you in connection with your policy, policy applications, claims or job applications, for example, from other insurers, insurance associations, hospitals, clinics, motor workshops, your ex-employer and the relevant authorities; and/or</li>
            <li>when you submit your Personal Data to us for any other reason.</li>
        </ol>

        <p>2.2  When you browse our website, you generally do so anonymously but please see the section below on cookies and related technologies. We do not at our website automatically collect Personal Data, including your email address unless you provide such information or login with your account credentials.</p>

        <p>2.3  If you provide us with any Personal Data relating to a third party (e.g. information of your spouse, children, parents, and/or employees), including where you have named them as beneficiaries or as a life assured, or where you refer a third party to us for the purposes of us offering our products and/or services to that third party, by submitting such information to us, you represent to us that you have obtained the consent of the third party to you providing us with their Personal Data for the respective purposes.</p>

        <p>2.4  You should ensure that all Personal Data submitted to us is complete, accurate, true and correct. If there is a change to your personal particulars such as your residential/mailing address, email address or telephone number, please promptly update us. This ensures that you will continue to receive communications from us without disruption or delay. Failure on your part to do so may result in our inability to provide you with products and services you have requested.</p>

        <p><b>3.  Purposes for the Collection, Use and Disclosure of Your Personal Data</b></p>

        <p>3.1  <b>Generally, </b>Cesar's Creatures collects, uses and discloses your Personal Data for the following purposes:</p>

        <ol type="a">
            <li>responding to, processing and handling your queries, complaints, feedback, suggestions and requests;</li>
            <li>verifying your identity;</li>
            <li>managing the administrative and business operations of the Companies and complying with internal policies and procedures;</li>
            <li>facilitating business asset transactions (which may extend to any merger, acquisition or asset sale) involving any of the Companies;</li>
            <li>matching any Personal Data held which relates to you for any of the purposes listed herein;</li>
            <li>requesting feedback or participation in surveys, as well as conducting market research and/or analysis for statistical, profiling or other purposes for us to design our products, understand customer behaviour, preferences and market trends, and to review, develop and improve the quality of our products and services;</li>
            <li>preventing, detecting and investigating crime, including detecting anomalies in payment systems to prevent fraud and money-laundering or terrorist financing, and analysing and managing commercial risks;</li>
            <li>managing the safety and security of our premises and services (including but not limited to carrying out CCTV surveillance and conducting security clearances);</li>
            <li>project management;</li>
            <li>providing media announcements and responses;</li>
            <li>organizing promotional events;</li>
            <li>in connection with any claims, actions or proceedings (including but not limited to drafting and reviewing documents, transaction documentation, obtaining legal advice, and facilitating dispute resolution), and/or protecting and enforcing our contractual and legal rights and obligations;</li>
            <li>managing and preparing reports on incidents and accidents;</li>
            <li>complying with any applicable rules, laws and regulations, codes of practice or guidelines or to assist in law enforcement and investigations by relevant authorities (including but not limited to disclosures to regulatory bodies, conducting audit checks, surveillance and investigation or conducting customer due diligence); and/or</li>
            <li>
                any other purposes relating to or reasonably necessary for any of the aforesaid.<br />
            </li>
        </ol>

        <p>These purposes may also apply even if you do not maintain any policy or relationship with us, or have terminated the policy or relationship with us.</p>

        <p>3.2  <b>In addition,</b>Cesar's Creatures collects, uses and discloses your Personal Data for the following purposes depending on the nature of our relationship:</p>

        <ol type="a">
            <li>
                <p><b>If you are a prospective customer or policy holder</b></p>
                <br />
                <ol type="i">
                    <li>providing financial advisory services, including evaluating your financial needs and reaching out to you (including by way of telephone calls) to provide recommendations to you as to the type of products and services suited to your needs;</li>
                    <li>where account or relationship managers or agents have been assigned to service your account or portfolio, we may also use your telephone number(s) to contact you from time to time in order to take your instructions, and/or provide you with information, updates, or recommendations and/or in accordance with the terms and conditions of our agreement with you;</li>
                    <li>arranging contracts of insurance;</li>
                    <li>assessing and processing any applications or requests made by you for products and services offered by Cesar's Creatures;</li>
                    <li>facilitating the continuation or termination of the insurance relationship or the daily operation of the services and providing policy holder servicing (including but not limited to responding to your individual requests, and providing customer satisfaction);</li>
                    <li>administering exceptional requests, including approvals or waivers;</li>
                    <li>carrying out policyholder reviews, for example, annual reviews of your portfolio;</li>
                    <li>to establish your financial situation, risk profile, investment experience and investment objectives to help you consider the suitability of the products you have invested or intend to invest;</li>
                    <li>assessing the relevant risk factors and determining the premium levels payable;</li>
                    <li>providing offers and promotions (including updates and upgrades) you are entitled to receive in relation to Cesar's Creatures or co-branded products and services which you have applied for;</li>
                    <li>customer outreach and relationship management;</li>
                    <li>archival management (including but not limited to warehouse storage and retrievals); communicating with you (including by way of telephone calls) in relation to your policy and informing you of updates to the policy benefits, terms and conditions and providing administrative information, including for the purposes of servicing you in relation to the products and services offered to you;</li>
                    <li>reinsuring risks with other insurers;</li>
                    <li>administering, maintaining, managing and operating the products and services offered to you, including reinsured products by other companies and government financing programmes;</li>
                    <li>sending updates and administrative notices to you in relation to the products and services used by you, including notification of maturity of payments and maturity of policies;</li>
                    <li>underwriting policy risks and facilitating underwriting and reviewing claims history, whether with Cesar's Creatures or otherwise;</li>
                    <li>collecting premiums and debt collection;</li>
                    <li>assessing and processing of any claims and payments arising under your policy including by requesting from hospitals and clinics information such as your medical reports and blood test results; and/or</li>
                    <li>
                        any other purposes relating to or reasonably necessary for any of the aforesaid.<br />
                        <br />
                    </li>
                </ol>
            </li>
            <li>
                <p><b>If you are a beneficiary, life assured, or an appointed representative of a particular policy (including but not limited to a mandate holder or a power of attorney), or an insured member of group insurance policies</b></p>
                <br />
                <ol type="i">
                    <li>assessing and processing any applications or requests made by the policyholder for products and services offered by Cesar's Creatures;</li>
                    <li>reinsuring risks with other insurers;</li>
                    <li>administering, maintaining, managing and operating the products and services offered to the policyholder, including reinsured products by other companies and government schemes and financing programmes;</li>
                    <li>underwriting policy risks and facilitating underwriting and reviewing claims history, whether with Cesar's Creatures or otherwise;</li>
                    <li>collecting premiums and debt collection;</li>
                    <li>assessing and processing of any claims and payments arising under the policy including by requesting from hospitals and clinics information such as your medical reports and blood test results; and/or</li>
                    <li>
                        any other purposes relating to or reasonably necessary for any of the aforesaid.<br />
                        <br />
                    </li>
                </ol>
            </li>
            <li>
                <p><b>If you submit an application to us as a candidate for an employment or representative position</b></p>
                <br />
                <ol type="i">
                    <li>processing your application including pre-recruitment checks, such as in relation to your credit standing and qualifications;</li>
                    <li>providing or obtaining employee references and for background screening/vetting;</li>
                    <li>facilitating and conducting interviews;</li>
                    <li>assessing your suitability for the position applied for;</li>
                    <li>communicating with you as required by Cesar's Creatures to comply with its policies and processes, including for business continuity purposes;</li>
                    <li>processing staff referrals; and/or</li>
                    <li>
                        any other purposes relating to or reasonably necessary for any of the aforesaid.<br />
                        <br />
                    </li>
                </ol>
                <p>You should ensure that all Personal Data submitted to us is complete, accurate, true and correct. Failure on your part to do so may result in delays in the processing of your application, or our inability to process your application.</p>
            </li>
            <li>
                <p><b>If you are a Member of the Live Great, UPGREAT and GETGREAT Programme (&quot;Programme&quot;)</b></p>
                <br />
                <ol type="i">
                    <li>providing communication of new products, services and confirmation of products and services requested by you;</li>
                    <li>offering and informing you of the benefits under the Programme;</li>
                    <li>informing you about service updates, delays and/or faults;</li>
                    <li>requesting feedback or participation in on-line surveys;</li>
                    <li>conducting market research for statistical, profiling or other purposes;</li>
                    <li>organising and carrying out marketing or promotional operations and similar events; and/or</li>
                    <li>
                        any other purposes relating to or reasonably necessary for any of the aforesaid.<br />
                        <br />
                    </li>
                </ol>
            </li>
            <li>
                <p><b>If you sit on the Cesar's Creatures Board of Directors</b></p>
                <br />
                <ol type="i">
                    <li>in respect of your appointment to the Board (including but not limited to the regulatory application process, managing the publication of directors' statistics on annual reports and circulars);</li>
                    <li>compiling the Board Contact List for reference by board members;</li>
                    <li>administrative matters (including but not limited to the maintenance of statutory registers and lodgement of directors' fee);</li>
                    <li>administration of due diligence checks and verification checks including assessing whether you meet the fit and proper criteria and carrying out Anti-Money Laundering and Countering the Financing of Terrorism and identity verification checks;</li>
                    <li>complying with any applicable rules, laws and regulations, regulatory reporting and disclosure requirements, codes of practice or guidelines or to assist in law enforcement and investigations by relevant authorities (including, but not limited to, disclosures to regulatory bodies or conducting due diligence;</li>
                    <li>administration of account opening and due diligence checks;</li>
                    <li>arranging board-related activities, training programmes or travel;</li>
                    <li>managing insurance programmes; and/or</li>
                    <li>
                        any other purpose relating to or reasonably necessary for any of the above.<br />
                        <br />
                    </li>
                </ol>
            </li>
            <li>
                <p><b>If you are a Cesar's Creatures shareholder</b></p>
                <br />
                <ol type="i">
                    <li>implementation and administration of any corporate action;</li>
                    <li>internal analysis and/or market research;</li>
                    <li>preparing investor relations communications;</li>
                    <li>administration by us of your holding of shares in Cesar's Creatures;</li>
                    <li>implementation and administration of any service provided by us to its members to receive notices of meetings, annual reports and other shareholder communications and/or for proxy appointment, whether by electronic means or otherwise;</li>
                    <li>processing, administration and analysis by us of proxies and representatives appointed for any General Meeting (including any adjournment thereof) and the preparation and compilation of the attendance lists, minutes and other documents relating to any General Meeting (including any adjournment thereof);</li>
                    <li>implementation and administration of, and compliance with, any provision of our Constitution; and/or</li>
                    <li>
                        any other purposes relating to or reasonably necessary for any of the above.<br />
                        <br />
                    </li>
                </ol>
            </li>
            <li>
                <p><b>If you are an employee or agent of a referrer or other intermediary</b></p>
                <br />
                <ol type="i">
                    <li>marketing and leads management;</li>
                    <li>processing commission remuneration; and/or</li>
                    <li>
                        any other purpose relating to or reasonably necessary for any of the above.<br />
                        <br />
                    </li>
                </ol>
            </li>
            <li>
                <p><b>If you are an employee, officer or owner of an external service provider or vendor outsourced or prospected by Cesar's Creatures</b></p>
                <br />
                <ol type="i">
                    <li>managing project tenders or the supply of goods and services;</li>
                    <li>conducting checks for compliance and risk management purposes;</li>
                    <li>processing and payment of vendor invoices; and/or</li>
                    <li>
                        any other purpose relating to or reasonably necessary for any of the above.<br />
                    </li>
                </ol>
            </li>
        </ol>


        <p>3.3  If you are submitting an application for or purchasing a Cesar's Creatures product through Oversea-Chinese Banking Corporation Limited, you also agree and consent to the terms of OCBC Bank's Data Protection Policy, available at <a adhocenable="false" href="http://www.ocbc.com/policies" target="_blank">www.ocbc.com/policies</a> or upon request from OCBC Bank.</p>

        <p>3.4  In addition, where permitted under the Act, Cesar's Creatures may also collect, use and disclose your Personal Data for the following purposes (which we may describe in our documents and agreements as &quot;<b>Additional Purposes</b>&quot; for the handling of Personal Data):</p>

        <ol type="a">
            <li>providing or marketing services, products and benefits to you, including promotions, loyalty and reward programmes;</li>
            <li>matching Personal Data with other data collected from time to time for other purposes and from other sources (including third parties) in connection with the provision or offering of products and services, whether by any of the Companies or other third parties;</li>
            <li>administering contests and competitions, and personalising your experience at Cesar's Creatures's touchpoints;</li>
            <li>sending you details of products, services, special offers and rewards, either to our customers generally, or which the Companies have identified may be of interest to you; and/or</li>
            <li>conducting market research, understanding and analysing customer behaviour, location, preferences and demographics for the Companies to offer you products and services as well as special offers and marketing programmes which may be relevant to your preferences or profile.</li>
        </ol>

        <p>3.5  If you have provided your Singapore telephone number(s) and have indicated that you consent to receiving marketing or promotional information via your Singapore telephone number(s), then from time to time, Cesar's Creatures may contact you using such Singapore telephone number(s) (including via voice calls, text, fax or other means) with information about our products and services (including discounts and special offers).</p>

        <p>3.6  In relation to particular products or services or in your interactions with us, we may also have specifically notified you of other purposes for which we collect, use or disclose your Personal Data. If so, we will collect, use and disclose your Personal Data for these additional purposes as well, unless we have specifically notified you otherwise.</p>

        <p><b>4.  Disclosure of Personal Data</b></p>

        <p>4.1  Cesar's Creatures will take reasonable steps to protect your Personal Data against unauthorised disclosure. Subject to the provisions of any applicable law, your Personal Data may be provided to and processed by the following entities or parties, for the purposes listed above (where applicable), whether such entities or parties are located in Singapore or overseas:</p>

        <ol type="a">
            <li>Cesar's Creatures's related corporations;</li>
            <li>companies providing services relating to insurance and/or reinsurance to Cesar's Creatures;</li>
            <li>where relevant, surveyors, loss adjusters, private investigators, motor workshops, hospitals or clinics in connection with the underwriting of policy risks or claims;</li>
            <li>associations of insurance companies, including the Life Insurance Association Singapore and the General Insurance Association Singapore;</li>
            <li>agents, contractors or third party service providers who provide operational services to Cesar's Creatures, such as courier services, telecommunications, information technology, payment, payroll, processing, training, market research, storage, archival, customer support investigation services or other services to Cesar's Creatures;</li>
            <li>vendors or other third party service providers in connection with products and services offered by Cesar's Creatures;</li>
            <li>credit reporting agencies, including Credit Bureau (Singapore), or in the event of default or disputes, any debt collection agencies or dispute resolution centres such as the Financial Industry Disputes Resolution Centre Ltd;</li>
            <li>your family, relatives, appointed executors and their professional advisers in connection with your will(s) or the administration of your estate;</li>
            <li>any business partner, investor, assignee or transferee (actual or prospective) to facilitate business asset transactions (which may extend to any merger, acquisition or asset sale) involving any of the Companies;</li>
            <li>where we require payment from you, your banks, credit card companies and their respective service providers;</li>
            <li>third party referrers;</li>
            <li>our co-brand and other business partners;</li>
            <li>external business and charity partners in relation to corporate promotional events;</li>
            <li>our professional advisers such as our auditors and lawyers;</li>
            <li>relevant government regulators or authority or law enforcement agency to comply with any laws, rules and regulations or schemes imposed by any governmental authority such as the Monetary Authority of Singapore, the Ministry of Manpower, the Ministry of Health and the Central Provident Fund Board; and/or</li>
            <li>any other party to whom you authorise us to disclose your Personal Data to.</li>
        </ol>

        <p><b>5.  Deemed Consent</b></p>

        <p>5.1  In addition to the matters set forth above, subject to and in accordance with applicable law, you shall be deemed to have consented to Cesar's Creatures collecting, using, disclosing and sharing amongst themselves your Personal Data, and disclosing such Personal Data to the Companies' authorised service providers and relevant third parties:</p>

        <ol type="a">
            <p><u>Deemed Consent by Conduct</u></p>
            <li>where in response to a request for your Personal Data in connection with identified purposes, you voluntarily provide such Personal Data to Cesar's Creatures for such purpose(s) and it is reasonable that you would voluntarily provide such Personal Data;</li>
            <p><u>Deemed Consent by Contractual Necessity</u></p>
            <li>
                <p>where the collection, use or disclosure of your Personal Data is reasonably necessary for the conclusion and/or performance of a contract:</p>
                <ol type="i">
                    <li>between you and Cesar's Creatures, where you provide Personal Data to Cesar's Creatures with a view to entering into such contract with Cesar's Creatures;</li>
                    <li>between you and Cesar's Creatures, where you provide Personal Data to Cesar's Creatures pursuant to such contract with Cesar's Creatures;</li>
                    <li>between Cesar's Creatures and any other organisation, where such contract is entered into at your request or pursuant to a contract between you and Cesar's Creatures; and/or</li>
                    <li>between Cesar's Creatures and any other organisation, where a reasonable person would consider such conclusion or performance (as the case may be) to be in your interest.</li>
                </ol>
            </li>
            <p>For the avoidance of doubt, such other organisation(s) described under sub-paragraphs (b)(iii)-(iv) above may include recipients of your Personal Data not indicated in this Privacy Statement;</p>
            <p><u>Deemed Consent by Notification</u></p>
            <li>
                <p>in the manner and for any of the purposes set forth in this Privacy Statement, as well as any other purpose(s) as we may from time to time notify you, where:</p>
                <ol type="i">
                    <li>
                        <p>we have taken reasonable steps to bring to your attention, which you agree includes posting on our website or communicating with you via any contact email or address we may have on record, SMS, Cesar's Creatures mobile applications or the “eConnect” portal on our website:</p>
                        <ol type="A">
                            <li>Cesar's Creatures’s intention to collect, use and/or disclose the Personal Data (as the case may be) for such purpose(s), <b>which may also include indicating such purpose(s) in this Privacy Statement from time to time</b>; and</li>
                            <li>
                                <p>a reasonable period within which, and a reasonable manner by which, you may notify Cesar's Creatures that you do not consent to the proposed collection, use and/or disclosure of Personal Data; and</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>you do not notify Cesar's Creatures before the expiry of the period described in sub-paragraph (c)(i)(B) above that you do not consent to the proposed collection, use and/or disclosure of your Personal Data for such purpose(s). <b>For the avoidance of doubt, you shall be deemed to be notified of all the purposes set forth in this Privacy Statement on the date of each instance of your perusal or loading of this document.</b></p>
                    </li>
                </ol>
            </li>
        </ol>

        <p><b>6.  Other Bases For Handling Your Personal Data</b></p>

        <p>6.1  In addition to and without limiting the consents you have provided to our collection, use and disclosure of your Personal Data for the purposes set out elsewhere in this Privacy Statement, where permitted by applicable law, Cesar's Creatures may also in accordance the requirements thereof also collect, use and/or disclose your Personal Data as further detailed below including without consent, where we meet the requirements of applicable law:</p>

        <ol type="a">
            <p><u>Legitimate Interests</u></p>
            <li>
                <p>we may collect, use and/or disclose your Personal Data without your consent for the purposes which we may notify you from time to time, where in the legitimate interests of Cesar's Creatures or another person, including without limitation the purposes as notified to you above in paragraphs 3.1, 3.2 and 5.1(b) and 6.1(b) of this Privacy Statement, but not for sending you direct marketing messages unless you have otherwise provided your consent; and</p>
            </li>
            <p><u>Business Improvement Purposes</u></p>
            <li>
                <p>we may collect your Personal Data from any of the Companies, we may use your Personal Data, and any of the Companies may disclose your Personal Data to us, for the following purposes (regardless whether you are an existing or prospective customer of any of the Companies):</p>
                <ol type="i">
                    <li>improving or enhancing any goods or services provided, or developing new goods or services to be provided, by any of the Companies;</li>
                    <li>improving or enhancing the methods or processes, or developing new methods or processes, for the operations of any of the Companies;</li>
                    <li>learning about and understanding the behaviour and preferences of any customer of any of the Companies or another individual in relation to the goods or services provided by any of the Companies; and/or</li>
                    <li>identifying any goods or services provided by any of the Companies that may be suitable for any customer of any of the Companies or another individual, or personalising or customising any such goods or services for you or another individual.</li>
                </ol>
            </li>
        </ol>

        <p><b>7.  Use of Cookies and Related Technologies</b></p>

        <p>7.1  Our websites and platforms use cookies and other technologies. Cookies are small text files stored in your computing or other electronic devices when you visit our website and platforms for record keeping purposes. Cookies are stored in your browser’s file directory, and the next time you visit the website or platform, your browser will read the cookie and relay the information back to the website, platform or element that originally set the cookie. Depending on the type of cookie it is, cookies may store user preferences and other information.</p>

        <p>7.2  Web beacons (also known as pixel tags and clear GIFs) involve graphics that are not apparent to the user. Tracking links and/or similar technologies consist of a few lines of programming code and can be embedded in our websites or platforms. Web beacons are usually used in conjunction with cookies and primarily used for statistical analysis purposes. This technology can also be used for tracking traffic patterns on websites and platforms, as well as finding out if an e-mail has been received and opened and to see if there has been any response.</p>

        <p>7.3  We may employ cookies and other technologies as follows:</p>

        <ol type="a">
            <li>tracking information such as the number of visitors and their frequency of use, profiles of visitors and their preferred sites;</li>
            <li>
                making our websites and platforms easier to use. For example, cookies may be used to help speed up your future interactions with our websites and platforms;<br />
            </li>
            <li>to better tailor our products and services to your interests and needs. For example, cookies information may be identified and disclosed to our vendors and business partners to generate consumer insights;</li>
            <li>collating information on a user’s search and browsing history;</li>
            <li>when you interact with us on our websites and platforms, we may automatically receive and record information on our server logs from your browser. We may collect for the purposes of analysis, statistical and site-related information including, without limitation, information relating to how a visitor arrived at the website or platform, the browser used by a visitor, the operating system a visitor is using, a visitor's IP address, and a visitor's click stream information and time stamp (which may include for example, information about which pages they have viewed, the time the pages were accessed and the time spent per web page);</li>
            <li>using such information to understand how people use our websites and platforms, and to help us improve their structure and contents;</li>
            <li>using cookies that are necessary in order to enable our websites and platforms to operate, for example, cookies that enable you to log onto secure parts of our websites and platforms; and/or</li>
            <li>personalising the website and platform for you, including delivering advertisements which may be of particular interest to you and using cookie related information to allow us to understand the effectiveness of our advertisements.</li>
        </ol>

        <p>7.4  Some cookies we use are from third party companies to provide us with web analytics and intelligence about our websites and platforms. These companies collect information about your interaction with our websites and platforms. We use such information to compile statistics about visitors who interact with the websites, platforms and other Cesar's Creatures online content, to gauge the effectiveness of our communications, and to provide more pertinent information to our visitors.</p>

        <p>7.5  If you do not agree to such use of cookies, you can adjust your browser settings. Unless you have adjusted your browser settings to block cookies, our system will issue cookies as soon as you visit our site or click on a link in a targeted email that we have sent you, even if you have previously deleted our cookies.</p>

        <p>7.6  The way which cookies can be managed depends on your browser. For more information on how to configure or disable cookies, please refer to the 'Help' option of your internet browser.</p>

        <p>7.7  If you do not agree to our use of cookies and other technologies as set out in this Privacy Statement, you should delete or disable the cookies associated with our websites and platforms by changing the settings on your browser accordingly. However, you may not be able to enter certain part(s) of our websites or platforms. This may also impact your user experience while on our websites or platforms.</p>

        <p><b>8.  Data Security</b></p>

        <p>8.1  Cesar's Creatures will take reasonable efforts to protect Personal Data in our possession or our control by making reasonable security arrangements to prevent unauthorised access, collection, use, disclosure, copying, modification, disposal or similar risks. However, we cannot completely guarantee the security of any Personal Data we may have collected from or about you, or that for example no harmful code will enter our website (for example viruses, bugs, trojan horses, spyware or adware). You should be aware of the risks associated with using websites.</p>

        <p>8.2  While we strive to protect your Personal Data, we cannot ensure the security of the information you transmit to us via the Internet, and we urge you to take every precaution to protect your Personal Data when you are on the Internet. We recommend that you change your passwords often, use a combination of letters and numbers, and ensure that you use a secure browser.</p>

        <p>8.3  If applicable, you undertake to keep your username and password secure and confidential and shall not disclose or permit it to be disclosed to any unauthorised person, and to inform us as soon as reasonably practicable if you know or suspect that someone else knows your username and password or believe the confidentiality of your username and password has been lost, stolen or compromised in any way or that actual or possible unauthorised transactions have taken place. We are not liable for any damages resulting from any security breaches related to unauthorised and/or fraudulent use of your username and password.</p>

        <p><b>9.  Anti-Spam</b></p>


        <p>9.1  If you receive spam messages and want to report it to us, please forward the message you have received to <a adhocenable="false" href="mailto:wecare-sg@CesarsCreatureslife.com" target="_blank">wecare-sg@CesarCreatureslife.com</a>.</p>

        <p><b>10.  Third-Party Sites</b></p>

        <p>10.1  Our website may contain links to other websites operated by third parties. We are not responsible for the privacy practices of websites operated by third parties that are linked to our website. You should review the privacy policies of such third party websites. Some of these third party websites may be co-branded with our logo or trademark, even though they are not operated or maintained by us. Once you have left our website, you should check the applicable privacy policy of the third party website to determine how they will handle any information they collect from you.</p>

        <p><b>11.  Contacting Us – Questions, Feedback, Withdrawal of Consent, Access and Correction of your Personal Data</b></p>

        <p>11.1  If you:</p>

        <ol type="a">
            <li>have any questions or feedback relating to your Personal Data or our Privacy Statement, including without limitation our reliance on legitimate interests and/or deemed consent bases of collecting, using and/or disclosing your Personal Data as described in paragraph 6 of this Privacy Statement;</li>
            <li>would like to withdraw your consent to any use of your Personal Data as set out in this Privacy Statement; or</li>
            <li>would like to obtain access and make corrections to your Personal Data records,</li>
        </ol>

        <p>please contact Cesar's Creatures as follows:</p>

        <p>
            Email: <a adhocenable="false" href="mailto:wecare-sg@CesarCreatures.com" target="_blank">wecare-sg@CesarsCreatures.com</a><br />
            Call: 1800 248 2888
        </p>


        <p>11.2  Please note that if your Personal Data has been provided to us by a third party (e.g. a policyholder who has nominated you as beneficiary or the life assured), you should contact such party directly to make any queries, feedback, and access and correction requests to Cesar's Creatures on your behalf.</p>

        <p>11.3  You may refuse to give, or may withdraw, your consent for us to collect, use or disclose your Personal Data and/or your insured persons' Personal Data as provided under the Act by giving us reasonable notice, so long as there are no legal or contractual restrictions preventing you from doing so. For example, you may withdraw your consent for your Personal Data being used for marketing purposes if this withdrawal will not affect our ability to provide you with the products and services that you asked for or have with us.</p>

        <p>11.4  However, if you withdraw your consent for us to use your Personal Data for any purposes which we regard as necessary to provide you products and services supplied by or through us (such as for example, matters relating to the servicing and administration of your insurance policy), this may affect our ability to provide you with such products and services (including preventing us from maintaining in force your insurance cover or properly assessing and processing your claims), or performing or concluding an existing or prospective agreement. Withdrawing such consent may also result in the termination of all your policies and contractual relationships with us. This may also be disadvantageous to you, as you may lose valuable benefits from the policy and/or it may not be possible for you to obtain a similar level of protection on the same terms in the future. There may be other consequences of your withdrawal which Cesar's Creatures may advise you of. In the event of any withdrawal of your consents in relation to your Personal Data, Cesar's Creatures's legal rights and remedies are expressly reserved.</p>

        <p><b>12.  Governing Law</b></p>

        <p>12.1  This Privacy Statement and your use of this website shall be governed in all respects by the laws of Singapore.</p>

     </div>


</body>

 </html>
