@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<html>
<body>
    <h1>Privacy Policy</h1>
    <h2>1. Identity of Cookie-Script</h2>
    <p>
            If there are any questions regarding this Privacy Policy you can contact Cookie-Script using the details below:
            Objectis Ltd.
            Žalgirio st. 88
            LT-09303 Vilnius
            Lithuania<br /><br />
            Company registration number: 304037472
    </p>
    <h2>2. What information do we collect?</h2>
    <p>
        You may visit our site anonymously although cookies are used to identify your session.
    </p>



</body>

 </html>
