@page
@model SSD_Assignment_1.Pages.Admin.Roles.CreateModel
@{
    ViewData["Title"] = "Create";
}

 <h2>Create Role</h2>
 <hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationRole.Name" class="control-label"></label>
                <input asp-for="ApplicationRole.Name" class="form-control" />
                <span asp-validation-for="ApplicationRole.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationRole.Description" class="control-label"></label>
                <input asp-for="ApplicationRole.Description" class="form-control" />
                <span asp-validation-for="ApplicationRole.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-group-lg " type="submit" value="Create">&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-group-lg" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

