@page
@model SSD_Assignment_1.Pages.Admin.Roles.ManageModel
@{
    ViewData["Title"] = "Manage User Roles";
}
<h2 style="text-align:center;">Role-based Authorization Management</h2>

<div class="col-6 my-3">
    <form class="input-group">
        <input type="text" class="form-control" asp-for="Searchstring" placeholder="Search for Roles">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Search">
        </div>
    </form>
</div>

<h3>Role View - show the users in each role </h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Role Name </th>
            <th>Users assigned to this role</th>
            <th>No. of Users</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Listroles)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Name)</td>
                <td> @Model.ListUsersInRole(item.Name)</td>
                <td> @Model.usercountinrole </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary btn-group-lg" asp-page="ManageDelete">Delete Role</a>
        <a class="btn btn-primary btn-group-lg" asp-page="ManageAssign">Add Role</a>
        <a class="btn btn-primary btn-group-lg" asp-page="./Index">Back to List</a>
    </div>
</div>


