@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cesar's Creatures</h1>
    <p>Home for the pets</p>
</div>

@if (Model.Carts.Count == 0)
{
    <p> You have no items in your cart yet!</p>
}
else
{
    <table class="table table-striped" align="left">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Individual Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                decimal totalPrice = 0;
            }
            @for (int i = 0; i < Model.Carts.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Products[i].Name)
                    </td>
                    <td>
                        <form method="post" asp-page-handler="QtyChange">
                            <input type="hidden" value=@Model.Products[i].Id asp-for="QtyChange.ProductId">
                            <input type="number" class="input-field" value=@Model.Carts[i].Quantity asp-for="QtyChange.NQuantity" onchange="javascript:this.form.submit()">
                        </form>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Products[i].Price)
                    </td>
                    <td>
                        @{
                            decimal total = Model.Carts[i].Quantity * Model.Products[i].Price;
                            totalPrice += total;
                        }
                        @Html.DisplayFor(modelItem => total)
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td><b>>Order Total:</b></td>
                <td>
                    @Html.DisplayFor(modelItem => totalPrice)
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
            <form asp-page-handler="Checkout">
                <input type="submit" />
            </form>
           
        </div>
    </div>
}


