@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        𝓒𝓮𝓼𝓪𝓻'𝓼 𝓒𝓻𝓮𝓪𝓽𝓾𝓻𝓮𝓼 | (Ｕ◕ฺ㉨◕ฺ)
    </h1>
    <p>Home for the pets</p>
</div>
<hr style="padding:20px 20px 20px 20px;" />

@if (Model.Carts.Count == 0)
{
    <p> You have no items in your cart yet!</p>
}
else
{
    <div class="row">
        <table class="table table-striped" align="left" style="background-color:lightblue">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Individual Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal totalPrice = 0;
                }
                @for (int i = 0; i < Model.Carts.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Products[i].Name)
                        </td>
                        <td>
                            <form method="post" asp-page-handler="QtyChange">
                                <input type="hidden" value=@Model.Products[i].Id asp-for="QtyChange.ProductId">
                                <input type="number" class="input-field" value=@Model.Carts[i].Quantity asp-for="QtyChange.NQuantity" onchange="javascript: this.form.submit();">
                            </form>

                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => Model.Products[i].Price)
                        </td>
                        <td>
                            @{
                                decimal total = Model.Carts[i].Quantity * Model.Products[i].Price;
                                totalPrice += total;
                            }
                            $@Html.DisplayFor(modelItem => total)
                        </td>
                        <td>
                            <form method="post" asp-page-handler="RmvProd">
                                <input type="hidden" value="@Model.Carts[i].CartItemId" asp-for="CartId" />
                                <button type="button" class="btn btn-default btn-sm" onclick="javascript: this.form.submit();">
                                    <i class="fa fa-minus-circle"></i>
                                </button>
                            </form>

                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>>Order Total:</b></td>
                    <td>
                        $@Html.DisplayFor(modelItem => totalPrice)
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-10">

        </div>
        <div class="col-2">
            <form asp-page-handler="Checkout">
                <input type="submit" value="Checkout" class="btn btn-success" />
            </form>

        </div>
    </div>
}


