@page
@model SSD_Assignment_1.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    #filtering {
        margin: 1em;
        border: 1px solid black;
        text-align: center;
    }

    select {
        margin: 0.5em;
    }

    input[type=submit] {
        margin: 0.5em;
    }
</style>
<div class="row">
    <div id="filtering" class="col-2">
        <form>
            <p>
                <input type="text" asp-for="SearchString" size=10 placeholder="Search for a product for your pet!" />
                <br />
                <select asp-for="SearchGenre" asp-items="Model.Genres">
                    <option value="">Genre</option>
                </select>
                <select asp-for="SearchBrand" asp-items="Model.Brands">
                    <option value="">Brand</option>
                </select>
                <br />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
    <div class="card-deck col-9">
        @foreach (var item in Model.Product)
        {
            <a onclick="window.location.replace('Products/Details?id=' + @item.Id)" id="carditem">
                <div class="card mb-3 shadow" style="width: 11rem;">
                    <img style="height:150px; width:auto;" class="card-img-top img-thumbnail" src="~/images/@item.PhotoPath" alt="Image not found">
                    <div class="card-body py-1 px-2">
                        <h6 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h6>
                        <h6 class="card-text">$ @Html.DisplayFor(modelItem => item.Price)</h6>
                        <form method="post">
                            <input type="hidden" name="ProductID" value=@item.Id>
                            <input class="btn btn-primary" type="submit" value="Add to cart" />
                        </form>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Html.DisplayFor(modelItem => item.Brand)</small>
                    </div>
                </div>
            </a>

        }
    </div>


</div>



