@page
@model SSD_Assignment_1.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<form>
    <p>
        <select asp-for="SearchGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <select asp-for="SearchBrand" asp-items="Model.Brands">
            <option value="">All</option>
        </select>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="card-deck">
    @foreach (var item in Model.Product)
    {
        <div class="card mb-3" style="max-width: 15rem; min-width: 15rem;">
            <img style="height:200px; width:auto;"class="card-img-top" src="~/images/@item.PhotoPath" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                <form method="post">
                    <input type="hidden" name="ProductID" value=@item.Id >
                    <input class="btn btn-primary" type="submit" value="Add to cart" />
                </form>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">@Html.DisplayFor(modelItem => item.Brand)</small>
            </div>
        </div>
    }
</div>

  
