@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <p>Only authorized <b>Cesar's Creature</b> staff are allowed to view this page. If you've managed to stumble here, kindly inform us <a href="#">here</a></p>
    <div class="container">
        <div class="col-2">
            <partial name="_AdminTab" />
            
        </div>
        
    </div>


</div>
